
<mat-sidenav-container class="app-container">
    <mat-sidenav class="course-info-sidenav" mode="side" [(opened)]="startSidenavOpen">
        <router-outlet name="sidenav"></router-outlet>
    </mat-sidenav>
    
    <mat-sidenav class="settings-sidenav" mode="side" position="end" [(opened)]="endSidenavOpen">End content</mat-sidenav>

    <mat-sidenav-content class="mat-elevation-z8 lesson-content">
        <div class="page-content">
            <section class="course-lesson">
                <router-outlet></router-outlet>
            </section>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>