<div class="course-nav-header mat-elevation-z1">
  <div class="course-nav-header-background">
    <div class="course-nav-header-overlay">
      <div class="course-nav-overview" fxLayout="row" fxLayoutAlign="center end">
        <div class="overview-info" fxLayout="column" fxLayoutAlign="space-between none">
          <span class="overview-span"></span>
          <h1 class="course-nav-header-title">{{course.courseTitle}}</h1>
          <div class="overview-progress">
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            <h1 class="course-nav-header-progress">70% COMPLETADO</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="course-nav-container">
  <mat-accordion multi="true">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="section-title">
          Sección 1
        </div>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item class="lessons-list-item">
          <mat-icon mat-list-icon>notes</mat-icon>
          <p mat-line> Lección 1 </p>
          <mat-progress-spinner [diameter]="21" [value]="70"></mat-progress-spinner>

        </mat-list-item>
        <mat-list-item class="lessons-list-item">
          <mat-icon mat-list-icon>notes</mat-icon>
          <p mat-line> Lección 2 </p>
        </mat-list-item>
        <mat-list-item class="lessons-list-item">
          <mat-icon mat-list-icon>notes</mat-icon>
          <p mat-line> Lección 3 </p>
        </mat-list-item>
      </mat-list>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="section-title">
          Sección 2
        </div>
      </mat-expansion-panel-header>

      This the expansion 2 content

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="section-title">
          Sección 3
        </div>
      </mat-expansion-panel-header>

      This the expansion 2 content

    </mat-expansion-panel>

  </mat-accordion>

</div>