<div class="course-nav-header mat-elevation-z1">
  <div class="course-nav-header-background">
    <div class="course-nav-header-overlay">
      <div class="course-nav-overview" fxLayout="row" fxLayoutAlign="center end">
        <div class="overview-info" fxLayout="column" fxLayoutAlign="space-between none">
          <span class="overview-span"></span>
          <h1 class="course-nav-header-title">Course test</h1>
          <div class="overview-progress">
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            <h1 class="course-nav-header-progress">70% COMPLETADO</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>