<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let section of course.sections">
    <mat-expansion-panel-header>
      <div class="section-title">
        {{section.title}}
      </div>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item class="lessons-list-item" *ngFor="let lesson of section.lessons">
        <a [routerLink]="[lesson.id]">
          <!-- <mat-icon mat-list-icon>notes</mat-icon> -->
          <p mat-line> {{lesson.title}} </p>
          <!-- <mat-progress-spinner [diameter]="21" [value]="70"></mat-progress-spinner> -->
        </a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

<router-outlet></router-outlet>