.next-lesson {
    height: 70px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    margin-top: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.next-lesson-container {
    position: relative;
    height: 120px;
}