
<div class="lesson-detail">
    <app-page-header [title]="lesson.title"></app-page-header>
    <ng-template chunk-host></ng-template>
</div>

<div class="next-lesson-container">
    <div class="next-lesson" routerLink="/course/{{nextLessonId}}" *ngIf="!isLastLesson" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <span>
                <b>Siguiente lección</b>
            </span>
            <mat-icon>trending_up</mat-icon>
        </div>
    </div>
</div>