<mat-toolbar class="app-header mat-elevation-z6" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="toggleStartSideNav()">
        <i class="material-icons">timeline</i>
    </button>

    <span>App</span>

    <button mat-icon-button (click)="toggleEndSideNav()">
        <i class="material-icons">menu</i>
    </button>
</mat-toolbar>

<mat-sidenav-container class="app-container">
    <!-- class="mat-elevation-z8" -->
    <mat-sidenav class="course-info-sidenav" mode="side" [(opened)]="startSideNavOpen">
        <app-course-nav></app-course-nav>
    </mat-sidenav>
    <mat-sidenav mode="side" position="end" [(opened)]="endSideNavOpen">End content</mat-sidenav>

    <mat-sidenav-content class="mat-elevation-z8 lesson-content">
        <div class="page-content">
            <section class="course-lesson">
                <app-page-header></app-page-header>
                <app-chunk-text></app-chunk-text>
                <app-chunk-heading></app-chunk-heading>
                <app-chunk-text></app-chunk-text>
                <app-chunk-subheading></app-chunk-subheading>
                <app-chunk-text></app-chunk-text>
                <app-chunk-heading-text></app-chunk-heading-text>
                <app-chunk-subheading-text></app-chunk-subheading-text>
                <app-chunk-two-column></app-chunk-two-column>
            </section>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>