<mat-toolbar class="app-header" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="toggleSideNav()">
        <i class="material-icons">
            timeline
        </i>
    </button>

    <span>App</span>

    <i class="material-icons">
        menu
    </i>
</mat-toolbar>


<mat-sidenav-container class="app-container">
    <mat-sidenav class="app-sidenav" #sidenav mode="side" [(opened)]="opened">Sidenav content</mat-sidenav>
    <mat-sidenav-content>
            <app-title [title]="'Título solo'"></app-title>
            <app-subtitle [subtitle]="'Subtítulo solo'"></app-subtitle>
            <app-review-tabs [tabs]="sampleTabsContent"></app-review-tabs>
            <app-title-text [title]="'Title with text'" [content]="sampleContent"></app-title-text>
    </mat-sidenav-content>
</mat-sidenav-container>