
<div id={{id}} [style.background-color]="attributes.backgroundColor">
  <div fxLayout="row" fxLayoutAlign="center none" [style.padding-top.px]="attributes.paddingTop" [style.padding-bottom.px]="attributes.paddingBottom">
    <div fxFlex="90" fxFlex.gt-md="761.667px">
      <mat-card aria-label="Chunk Select One Answer" role="group">

        <p> {{attributes.question}} </p>
        <mat-divider aria-hidden="true"></mat-divider>

        <div class="choices" fxLayout="row" fxLayoutAlign="end none">
          <mat-radio-group 
          id="{{'choicesGroup' + id}}"
          [disabled]='showAnswer' 
          [(ngModel)]="choice" 
          fxLayout="column" 
          fxLayoutAlign="space-evenly start" 
          fxLayoutGap="50px"
          fxFlex="90" 
          fxFlex.gt-md="631.66px"
          attr.aria-label="{{attributes.question}}"
          role="radiogroup"
          tabindex="0">
            <mat-radio-button class="choice-radio-button" *ngFor="let choice of attributes.choices" [value]="choice">
              {{choice}}
            </mat-radio-button>
          </mat-radio-group>
        </div>


        <div [hidden]="showAnswer">
          <div fxLayout="row" fxLayoutAlign="center none">
              <button 
              mat-flat-button color="primary" 
              [disabled]="noSelectedChoice" 
              (click)=revealResult()>
              ENVIAR
            </button>
            </div>
        </div>

          <div [hidden]="!showAnswer" attr.aria-hidden="{{!showAnswer}}">
              <div  class="feedback" fxLayout="column" fxLayoutAlign="center center" aria-label="Feedback" role="group" >
                <div class="sentiment" fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon>{{answer.icon}}</mat-icon>
                  <label id="{{'questionFeedback' + id}}" tabindex="0">{{answer.label}}</label>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <p fxFlex="80" fxFlex.gt-md="491px"> {{feedbackText}} </p>
                </div>
              </div>
    
              <!-- <div class="retry" fxLayout="column" fxLayoutAlign="center center">
                <button mat-button (click)=restoreAnswers()>
                  <mat-icon>replay</mat-icon>
                  INTENTAR DE NUEVO
                </button>
              </div> -->
            </div>
      </mat-card>
    </div>
  </div>
</div>