<div class="course-overview">
  <header>
    <div class="course-overview-image">
      <div class="course-overview-image-overlay">
          <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFill>
            <div class="author">Nombre del autor del curso</div>
            <div class="title">Course demo</div>
            <div class="controls">Start course</div>
          </div>
      </div>
    </div>
  </header>
</div>
<!-- <div class="app-container">
  <h1>Welcome page</h1> 
  <button mat-raised-button color="primary" routerLink="/course">IR AL CURSO</button>
</div> -->
