
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="this.authStore.logout()" class="user-menu-item" routerLink="/welcome">CERRAR SESIÓN</button>
</mat-menu>

<mat-toolbar class="app-header mat-elevation-z6" color="primary" fxLayout="row" fxLayoutAlign="space-between center" role="heading">
    <button mat-icon-button (click)="toggleStartSidenav()">
        <i class="material-icons">menu</i>
    </button>

    <a routerLink="/welcome" class="app-name"><b>Volver a lista de cursos</b></a>

    <div fxLayout="row">
        <button mat-mini-fab [matMenuTriggerFor]="menu" class="image mat-elevation-z0" [style.backgroundImage]="'url(' + this.authStore.profilePicture + ')'"></button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="app-container" hasBackdrop="false">
    <mat-sidenav role="region" aria-label="Barra lateral de la lección" attr.aria-hidden="{{!startSidenavOpen}}"
        [mode]="isLargeScreen()" fixedInViewport="true" fixedTopGap="56" [(opened)]="startSidenavOpen">
        <app-course-nav></app-course-nav>
    </mat-sidenav>

    <mat-sidenav mode="side" position="end" [(opened)]="endSidenavOpen">End content</mat-sidenav>

    <mat-sidenav-content class="mat-elevation-z8 lesson-content">
        <main class="page-content">
            <section class="course-lesson">
                <router-outlet></router-outlet>

                <content-loader height="900" width="600" *ngIf="!isProgressLoaded">
                    <svg:rect x="150" y="10" rx="5" ry="5" height="50" width="300" />
                    <svg:rect x="150" y="90" rx="5" ry="5" height="50" width="300" />
                    <svg:rect x="150" y="180" rx="5" ry="5" height="100" width="300" />
                    <svg:rect x="150" y="260" rx="5" ry="5" height="50" width="300" />
                    <svg:rect x="150" y="340" rx="5" ry="5" height="50" width="300" />
                    <svg:rect x="150" y="420" rx="5" ry="5" height="50" width="300" />
                </content-loader>
            </section>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>