<div class="navigation-previous-lesson">
  <div class="previous-lesson" routerLink="../{{previousLessonTrimmed.id}}" *ngIf="!isFirstLesson" (click)=navigateBack() fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="space-evenly center">
          <mat-icon>arrow_back_ios</mat-icon>
          <span>
              <b>Lección anterior</b>
          </span>
      </div>
  </div>
</div>


<div class="lesson-detail">
  <app-lesson-header [title]="currentLesson.title"></app-lesson-header>

  <!-- En este tag se hace un append de todos los componentes generados dinámicamente -->
  <ng-template chunk-host></ng-template>
</div>

<div class="navigation-next-lesson">
  <div class="next-lesson" routerLink="../{{nextLessonTrimmed.id}}" *ngIf="!isLastLesson" (click)=progressLesson() fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="space-evenly center">
          <span>
              <b>Siguiente lección</b>
          </span>
          <mat-icon>arrow_forward_ios</mat-icon>
      </div>
  </div>
</div>