<!-- Imagen y título del curso -->
<div class="course-nav-header mat-elevation-z1">
  <div class="course-nav-header-background">
    <div class="course-nav-header-overlay">

      <div class="course-nav-overview" fxLayout="row" fxLayoutAlign="center end">
        <div class="overview-info" fxLayout="column" fxLayoutAlign="space-between none" tabindex="-1">
          <span class="overview-span"></span>
          <h1 class="course-nav-header-title" id="CourseTitle" tabindex="0">{{course.title}}</h1>
          <a mat-button class="skip-to-content"
          (click)="focusTitle()" 
          (keydown.enter)="focusTitle()">
          NAVEGAR A LECCIÓN
        </a>
          <div class="overview-progress">
            <mat-progress-bar mode="determinate" value="{{progressStore.progress$}}" aria-label="Progreso del curso"></mat-progress-bar>
            <h1 class="course-nav-header-progress" aria-label="Progreso del curso"> {{progressStore.progress$}} % COMPLETADO</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Secciones y lecciones -->
<nav class="course-nav-container">
  <mat-accordion multi="true" role="menu">
    <mat-expansion-panel *ngFor="let section of sections" [expanded]="true" role="menuitem">
      <mat-expansion-panel-header>
        <div class="section-title">
          {{section.title}}
        </div>
      </mat-expansion-panel-header>
      <content-loader height="300" width="250" *ngIf="!section.lessons; else showLessons">
        <svg:rect x="5" y="10" rx="5" ry="5" height="50" width="240" />
        <svg:rect x="5" y="70" rx="5" ry="5" height="50" width="240" />
        <svg:rect x="5" y="130" rx="5" ry="5" height="50" width="240" />
        <svg:rect x="5" y="190" rx="5" ry="5" height="50" width="240" />
        <svg:rect x="5" y="250" rx="5" ry="5" height="50" width="240" />
      </content-loader>
      <ng-template #showLessons>
      <mat-list role="menu">       
          <a
          [routerLink]="['/course-viewer/section', section.id, 'lesson', lesson.id]" 
          routerLinkActive="active-lesson"
          (click)="navigateToLesson(lesson, section.id)" 
          (keydown.enter)="navigateToLesson(lesson, section.id)"
          class="lessons-list-item" 
          [ngClass]="{'disabled': unlockedLessons$.indexOf(section.id + lesson.id) === -1}"
          *ngFor="let lesson of section.lessons"
          
          attr.aria-label="{{lesson.title + disabledLessonAccessibleText(section.id, lesson.id)}}"
          fxLayout="row" 
          fxLayoutAlign="space-around center">
            <mat-icon fxFlex="15" mat-list-icon>notes</mat-icon>
            <p role="menuitem" mat-line fxFlex> {{lesson.title}} </p>
            <!-- <mat-progress-spinner [diameter]="21" [value]="70" *ngIf="unlockedLessons$.indexOf(section.id + lesson.id) !== -1"></mat-progress-spinner> -->
            <mat-icon fxFlex="15" color = "primary" *ngIf="(unlockedLessons$.indexOf(section.id + lesson.id) !== -1 && unlockedLessons$.indexOf(section.id + lesson.id) < (unlockedLessons$.length - 1)) || progressStore.courseComplete">check_circle</mat-icon>
            <mat-icon fxFlex="15" color = "primary" *ngIf="(unlockedLessons$.indexOf(section.id + lesson.id) !== -1 && unlockedLessons$.indexOf(section.id + lesson.id) === (unlockedLessons$.length - 1)) && !progressStore.courseComplete">low_priority</mat-icon>
            <mat-icon fxFlex="15" mat-list-icon *ngIf="(unlockedLessons$.indexOf(section.id + lesson.id) === -1 && unlockedLessons$.indexOf(section.id + lesson.id) < (unlockedLessons$.length - 1)) || progressStore.courseComplete">lock</mat-icon>
          </a>
        </mat-list>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</nav>