
<!-- Imagen y título del curso -->
<div class="course-nav-header mat-elevation-z1">
  <div class="course-nav-header-background">
    <div class="course-nav-header-overlay">
      
      <div class="course-nav-overview" fxLayout="row" fxLayoutAlign="center end">
        <div class="overview-info" fxLayout="column" fxLayoutAlign="space-between none">
          <span class="overview-span"></span>
          <h1 class="course-nav-header-title">{{course.title}}</h1>
          <div class="overview-progress">
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            <h1 class="course-nav-header-progress">70% COMPLETADO</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Secciones y lecciones -->
<div class="course-nav-container">
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let section of sections" [expanded]="true">
      <mat-expansion-panel-header>
        <div class="section-title">
          {{section.title}}
        </div>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item
        [routerLink]="['/course-viewer/section', section.id, 'lesson', lesson.id]"
        routerLinkActive="active-lesson"
        (click)="navigateToLesson(lesson, section.id)" 
        class="lessons-list-item" 
        *ngFor="let lesson of section.lessons">
          <mat-icon mat-list-icon>notes</mat-icon>
          <p mat-line> {{lesson.title}} </p>
          <mat-progress-spinner [diameter]="21" [value]="70"></mat-progress-spinner>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
