
/* @import "assets/themes/basic-app.css"; */
/* @import "assets/themes/at-app.css"; */
@import "assets/placeholder-loading/placeholder-loading.min.css";


body {
    color: #313537;
    margin: 0;
    background: #f5f5f5;
    font-family: lato;
    font-size: 16px;
}
