
<div id={{id}} [style.background-color]="attributes.backgroundColor"> 
    <div fxLayout="row" fxLayoutAlign="center none" [style.padding-top.px]="attributes.paddingTop" [style.padding-bottom.px]="attributes.paddingBottom">
        <div>
            <content-loader height="615" width="920" *ngIf="!isLoaded">
                <svg:rect x="0" y="15" rx="5" ry="5" height="615" width="920"/>
            </content-loader>

            <img 
            [hidden]="!isLoaded" 
            src="{{attributes.url}}" 
            (load)="removePlaceholder()" 
            alt="{{attributes.caption}}"
            attr.longdesc="{{attributes.longDesc}}"
            attr.role="{{imageRole}}">
            <div fxLayout="row" fxLayoutAlign="center none">
                <div class="caption" fxFlex="85" fxFlex.gt-md="761.667px">
                    <p>{{attributes.caption}}</p>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </div>
    </div>
</div>
