<div class="course-overview">
  <header>
    <div class="course-overview-image">
      <div class="course-overview-image-overlay">
          <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFill>
            <div class="author">Nombre del autor del curso</div>
            <div class="title">Course demo</div>
            <div class="controls">
              <button mat-raised-button color="primary" routerLink="/course-viewer/section" (click)="sendStartStatement()">IR AL CURSO</button>
              <button mat-raised-button color="primary" routerLink="/course-viewer/section" (click)="sendStartStatement()">SIGN IN</button>
              <button mat-raised-button color="primary" routerLink="/course-viewer/section" (click)="sendStartStatement()">CHUNKS TOUR COURSE</button>
              <button mat-raised-button color="primary" routerLink="/course-viewer/section" (click)="sendStartStatement()">LEARN MORE COURSE</button>
            </div>
          </div>
      </div>
    </div>
  </header>
</div>
