.course-overview {
    z-index: -1 !important; 
}

.course-overview-image {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/e-learning-ua.appspot.com/o/agriculture.jpg?alt=media&token=3941959c-92d6-4e00-a3e7-759200d94407");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 550px;
}

.course-overview-image-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.author {
    font-family: 'Lato', sans-serif;
}

.course-selection {
    width: 70%;
}