@import "src/variables.scss";

.welcome-wrapper {
    background-color: F5F5F5;
}

.welcome-title {
    font-family: $titleFont;
    font-weight: 300;
    color: #313537;
    font-size: 42px;
    line-height: 63px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.course-image {
    background-size: cover;
    min-width: 150px;
    height: 80px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.course-card {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 80px;
    padding-left: 0;
    .course-title {
        font-family: $titleFont;
        font-size: 16px;
        line-height: 21px;
        margin: 0;
    }
    .course-attribute {
        font-family: $titleFont;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        color: rgba(49,53,55,.4);
    }
    .card-separator {
        border-left: 3px solid green;
        height: 50px;
    }
}