<!-- <div class="course-overview">
  <header>
    <div class="course-overview-image">
      <div class="course-overview-image-overlay">
          <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFill>
            <div class="author">Nombre del autor del curso</div>
            <div class="title">Course demo</div>
            <div fxFlex="70" class="course-selection" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around center">
              <button mat-raised-button color="primary" routerLink="/course-viewer/section" (click)="sendStartStatement('c01')">CHUNKS TOUR</button>
              <button mat-raised-button color="primary" routerLink="/course-viewer/section" (click)="sendStartStatement('c02')">TÉCNICAS DE ESTUDIO</button>
            </div>
          </div>
      </div>
    </div>
  </header>
</div> -->

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()" class="user-menu-item">CERRAR SESIÓN</button>
</mat-menu>

<div class="welcome-wrapper">
  <mat-toolbar color="primary" role="heading" fxLayout="row" fxLayoutAlign="space-between center"
    class="mat-elevation-z6">
    <h1>TFG Jorge Espinosa</h1>
    <button mat-flat-button aria-label="Inicia sesión para acceder a los cursos" (click)="login()"
      *ngIf="!userIsLoggedIn; else userLogged;">INICIAR
      SESIÓN</button>

    <ng-template #userLogged>
      <button mat-mini-fab [matMenuTriggerFor]="menu" class="image mat-elevation-z0"
        [style.backgroundImage]="'url(' + this.profilePicture$ + ')'"></button>
    </ng-template>
  </mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center none">
    <h1 class="welcome-title">Bienvenido a E-gular</h1>
  </div>

  <div class="courses-list" fxLayout="row" fxLayoutAlign="center none" role="region" aria-label="Lista de lecciones"
    *ngIf="!mobile; else columnCards">
    <mat-list role="list" fxFlex="70">
      <a *ngFor="let course of courses" class="course-card-link" routerLink="/course-viewer/section"
        (click)="sendStartStatement(course.id)" attr.aria-label="{{'Acceder a ' + course.title}}">
        <mat-card fxLayout="row" fxLayoutAlign=" center" class="course-card" role="listitem">

          <img class="course-image" [src]="course.imageUrl">

          <div fxFlexOffset="3" fxFlex="65" fxLayout="column">
            <h2 class="course-title">{{course.title}}</h2>
            <p class="course-attribute">{{course.description}}</p>
          </div>

          <div fxLayout="row" fxLayoutAlign=" center">
            <span class="card-separator"></span>
            <p fxFlexOffset="30" fxFill class="course-attribute">{{course.NumberOfLessons + ' Lecciones'}}</p>
          </div>
        </mat-card>
      </a>

    </mat-list>
  </div>


  <ng-template #columnCards>
    <div class="courses-list" fxLayout="row" fxLayoutAlign="center none" role="region" aria-label="Lista de lecciones">
      <mat-list role="list" fxFlex="70" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">

        <a *ngFor="let course of courses" class="course-card-link" routerLink="/course-viewer/section"
          (click)="sendStartStatement(course.id)" attr.aria-label="{{'Acceder a ' + course.title}}">
          <mat-card class="new-course-card" role="listitem" fxLayout="column" fxLayoutAlign="space-between center">
            <div fxFlex="14">
              <img class="new-course-image" [src]="course.imageUrl">
            </div>

            <div fxLayout="column" fxLayoutAlign="space-between center">
              <h2 class="new-course-title">{{course.title}}</h2>
              <p class="new-course-attribute">{{course.description}}</p>
            </div>

            <div>
              <!-- <span class="new-card-separator"></span> -->
              <p fxFill class="course-attribute">{{course.NumberOfLessons + ' Lecciones'}}</p>
            </div>
          </mat-card>
        </a>

      </mat-list>
    </div>
  </ng-template>

</div>