<div class="page-header">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="page-header-container">
      <div class="lesson-header">
        <div class="lesson-header-counter">
          <p>
            Lección {{currentLesson}} de {{totalLessons}}
          </p>
        </div>
        <div class="lesson-header-title">
          <p>
            {{title}}
          </p>
          <span class="title-underline"></span>
        </div>
      </div>
    </div>
  </div>
  <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
</div>