
@import '../../../node_modules/@angular/material/_theming.scss';


// Sobreescritura de los estilos del elemento checkbox para poder dividir el texto en lineas
.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-checkbox-label {
  margin-left: 55px !important;
}

.mat-radio-label-content {
  white-space: normal !important;
  padding-left: 50px !important;
}


// Estilos comunes de Angular Material
@include mat-core();


// Definición de las paletas del tema utilizando las paletas de Material Design en palette.scss
$at-app-primary: mat-palette($mat-orange);
$at-app-accent:  mat-palette($mat-light-blue, A200, A100, A400);
$at-app-warn:    mat-palette($mat-red);

// Crea el objeto Theme (Map Sass que contiene todas las paletas)
$at-app-theme: mat-light-theme($at-app-primary, $at-app-accent, $at-app-warn);


@include angular-material-theme($at-app-theme);
